@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#form-overlay > div {
  animation: scale-up-center 0.4s ease 0s 1 normal none;
}

@keyframes scale-up-center {
  0% {
    transform:scale(.92);
  }
  100% {
    transform:scale(1);
  }
}